body {
    background-color: #fcfcfc;
}

h1 {
    font-size: 20px;
    color: #3a3a3a;
    text-align: center;

}

.profile-pic {
    border-radius: 50%;
}

ul {
    list-style: none;
}

/*float left in tablet desktop mode*/

.employee-list {
    position: relative;
    display: flex;

    left: -40px;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
    background: #ffffff;
    justify-content: space-between;
    padding: 1em;

    margin-top: 4em;
    margin-bottom: -3em;
}



.employee-name {
    font-size: 13px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold;
}

.employee-email {
    display: inline-block;
    font-size: 10px;
}

.employee-location {
    text-transform: capitalize;
    display: inline-block;
    font-size: 10px;

}

.container {

    margin-top: -2em;
}


@media (min-width: 768px) {
    .employee-list {
        float: left;
        top: 80px;
        margin: 4px;
        width: 40%;

    }



    .employee-name {
        font-size: 12px;

    }

    .employee-email {

        font-size: 15px;
    }

    .employee-location {

        font-size: 15px;

    }

    h1 {
        font-size: 25px;
        margin-top: 60px;

    }

}
